<div fxFlex fxLayout="column" fxLayoutAlign="space-around center"> 
    <span>SELECCIONA CUANTAS PANTALLAS QUIERES VER</span>
    <ng-container *ngIf="numberOfFrames > 0">
        Tengo frames
    </ng-container>
    <ng-container *ngIf="numberOfFrames == 0">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <img fxFlex="50" src="../../assets/images/one_screen.png" class="cursor-pointer" alt="one frame" (click)="addFrames(1)">
            <img fxFlex="50" src="../../assets/images/two_screens.png" class="cursor-pointer" alt="two frames" (click)="addFrames(2)">
        </div>
    </ng-container>
</div>
