<div fxLayout="row">
  <div *ngIf="firstIteration" class="box box-g d-flex align-items-center justify-content-center" fxLayoutGap="5px" (click)="addChannel()">
    <mat-icon>add_to_queue</mat-icon>
    <mat-label>Add new channel</mat-label>
  </div>

  <div *ngFor="let frame of iframes; let i = index" class="d-flex" fxLayoutGap="50px">
    <div class="d-flex flex-row box-channel" fxLayoutGap="20px">
      <app-frame-twitch *ngIf="frame.showTwitch" class="f-height d-flex align-items-start"
                        [width]="854"
                        [height]="480"
                        (channelLoaded)="channelLoaded(i)"
      ></app-frame-twitch>
      <div *ngIf="frame.showAddMore" class="box box-s d-flex align-self-center" fxLayoutGap="5px" (click)="addOtherFrame(i)">
        <mat-icon>add_to_queue</mat-icon>
        <mat-label>Add new channel</mat-label>
      </div>
    </div>
  </div>
</div>
