<form [formGroup]="frameFormControl" >
  <mat-label></mat-label>

  <mat-form-field class="form-field">
    <mat-label>{{'channelName' | translate}}</mat-label>
    <input matInput type="text" name="channel" formControlName="channel">
  </mat-form-field>

  <button mat-button *ngIf="frameFormControl.value.channel && !videoIsReady" matSuffix mat-icon-button aria-label="Clear" (click)="videoIsReady = !videoIsReady; showVideo(twitchEmbed)">
    <mat-icon>check_circle</mat-icon>
  </button>
  <button mat-button *ngIf="frameFormControl.value.channel" matSuffix mat-icon-button aria-label="Clear" (click)="cleanChannel(twitchEmbed)">
    <mat-icon>close</mat-icon>
  </button>

  <div>
    <div *ngIf="!videoIsReady"> Video not ready</div>
    <div #twitchEmbed></div>
  </div>

</form>




